﻿@model Drains.Web.Data.EntityFramework.Entities.SupplierBank

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SupplierBank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Supplier.Build)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.Build)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MFO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MFO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDRPOU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDRPOU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REQ)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
