﻿@model IEnumerable<Drains.Web.Data.EntityFramework.Entities.SupplierBank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Build)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MFO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDRPOU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankBranch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REQ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Build)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MFO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDRPOU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankBranch)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REQ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
