﻿@model Drains.Web.Data.EntityFramework.Entities.SuppliersAdress

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuppliersAdress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Street.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuppliersCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppliersCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Build)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Build)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameSupplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSupplier)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
