﻿@model Drains.Web.Data.EntityFramework.Entities.SuppliersAdress

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SuppliersAdress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Street.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuppliersCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppliersCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Build)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Build)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameSupplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSupplier)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
