﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Adress", "Index", "Adresses", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Streets", "Index", "Streets", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Suppliers", "Index", "SuppliersAdresses", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Personals", "Index", "Personals", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Contracts", "Index", "Contracts", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Keys", "Index", "Keys", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("SuppleirBanks", "Index", "SuppleirBanks", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Deliverys", "Index", "Deliverys", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Paids", "Index", "Paids", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Permissions", "Index", "Permissions", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Deliv_parom", "Index", "Deliv_parom", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
