﻿@model Drains.Web.Data.EntityFramework.Entities.Deliv_parom

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Deliv_parom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Delivery.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ph)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
