﻿@model Drains.Web.Data.EntityFramework.Entities.Deliv_parom

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deliv_parom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Delivery.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.V)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.V)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ph)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ph)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
