﻿@model IEnumerable<Drains.Web.Data.EntityFramework.Entities.Deliv_parom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Delivery.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.V)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ph)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.T)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.V)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ph)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
